---
BasedOnStyle: LLVM
IndentWidth: 4
---
Language: cpp
DerivePointerAlignment: false
PointerAlignment: Left
ColumnLimit: 0
BreakConstructorInitializers: AfterColon
BreakInheritanceList: AfterColon
PackConstructorInitializers: Never
SeparateDefinitionBlocks: Always

