[user]
	name = Nguyen Son Linh
	email = linhns59@gmail.com
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[alias]
	last = log -1 HEAD
	unstage = reset HEAD --
